*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Mono', monospace;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../sources/hotel_background.png);
  background-size: cover;
}

.room_card{
  width: 90vw;
  height: 10vw;
  color: whitesmoke;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  margin: 2vw;

  backdrop-filter: blur(20px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.59);
  border-radius: 1vw;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn{
  background: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color: #36835A;
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  cursor: pointer;
}
